{% extends 'base.html.twig' %}
{% block title %} Forgot Password Page {% endblock %}

{% block body %}
    <div class="container">
        <div class="login-form col-md-6 col-md-offset-3" style="box-shadow:0px 0px 5px #f0f0f0; padding:10px; border-radius:5px">
        <h1 class="form-heading">Forgot Form</h1>
            <div class="main-div">
                <div class="panel">
                    <p>Please enter your email</p>
                </div>
                <form id="Login">
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                    </div>
                  
                    <div class="forgot">
                        <a href="/login">Login Here</a>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}